.vscode
.idea
**/output
**/vendors
**/fusion_result.json
**/kernel_meta
**/extra-info*
build/cam/comm_operator/pybind
build/cam/pytorch_extension
src/cam/comm_operator/build
**/ascend_kernels_ascend910_93_proj
**/third_party
**/build_out/comm_operator/
.vscode
**/*log*
**/__pycache__
